body {
  background-color: rgb(235, 235, 235);
  background-size: auto;
  font-family: 'Montserrat'
}

.table-responsive {
  overflow-x: hidden;
  width: 100%;
}

table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

thead th {
  position: sticky;
  top: 0;
  white-space: nowrap;
}

tbody td {
  word-wrap: break-word;
  white-space: normal !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

tr a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.custom-table-control .dropdown-menu {
  max-height: 450px; /* Set the max height for scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Password modal styling */
.modal-backdrop {
  background-color: #007bff; /* Adjust the RGBA value to your preferred color and opacity */
}

.modal-content {
  border-radius: 8px;
}

.modal-header, .modal-footer {
  border: none;
}

.modal-footer .btn {
  width: 100%;
}

.password-feedback {
  color: red;
  display: none;
  margin-top: 10px;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}